<div class='shadow-sm p-3 mb-5 bg-white rounded overflow-wrap'>
  <h1>
    <span class='badge badge-pill badge-info'>
      <%= @tweet.id %>
    </span>
    <%= @tweet.twitter %>
  </h1>
  <p class='shadow-none p-3 mb-5 bg-light rounded'><%= @tweet.tweet %></p>

  <%# link_to arguments: name, path, options_object %>
  <% if @tweet %>
  <div>
    <%= link_to(
      "Edit",
      edit_tweet_path(@tweet),
      class: 'btn btn-info'
    )
    %>
    <%= link_to(
      "Delete",
      tweet_path(@tweet),
      method: :delete,
      class: 'btn btn-danger',
      data: { confirm: 'are you sure?' }
    )
    %>
  </div>
  <% end %>
</div>








